body {
  scroll: none
  	background-color: black;
  	color: white;
}

.content,
.canvas {
  width: 100%;
  height: 100%;
}

.htmlContent {
  position: absolute;
}

.canvas {
   position: absolute;
}

  #hue1, #hue2 {
    width: 360px;
    height: 8px;
    margin: 15px;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
  }
  #hue1.ui-slider { background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); }
  #hue1 .ui-slider-handle { border-color: #ffffff; background: #ff0000; }
  #hue2.ui-slider { background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); }
  #hue2 .ui-slider-handle { border-color: #ffffff; background: #ff0000; }
  #sat-slider .ui-slider { background: #999999; }
  #sat-slider .ui-slider-handle { border-color: #000000; }
