[Desktop Entry]
Version=2.1
Name=LEDDisplay
Comment=LEDDisplay for Sensatron
Exec=~/sensatron/dev/Sensatron/2016/LEDDisplay/application.linux64/LEDDisplay
Icon=/opt/processing/lib/icons/pde-256.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;Graphics;